<p id="notice"><%= notice %></p>

<h1>Twoje artykuły</h1>
  <br />

<div class="container">
  <div class="row h5">
    <div class="col-8">Tytuł wpisu</div>
    <div class="col">Akcje</div>
  </div> 
  <hr />

  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-8 h6"><%= article.title %></div>
      <div class="col">
        <%= link_to 'Otwórz', article, class: "btn btn-link" %>
        <%= link_to 'Edytuj', edit_article_path(article), class: "btn btn-link" %>
        <%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
      </div>
    </div>
    <hr />
  <% end %>
</div>

<br>

