<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Secure Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Insecure Raw Content:</strong>
  <%= raw @article.content %>
</p>

<p>
  <strong>Insecure HTML Safe Content:</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Sanitized</strong>
  <%= sanitize @article.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<% if can? :edit, @article %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', root_path %>
