<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Treść artykułu (bezpieczna, tekst):</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Treść artykułu (niebezpieczna):</strong>
  <%= raw @article.content %>
</p>

<p>
  <strong>Treść artykułu (zastosowanie html_safe):</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Treść artykułu (oczyszczona, bezpieczna):</strong>
  <%= sanitize @article.content %>
</p>

<p>
  <strong>Autor wpisu:</strong>
  <%= @article.user.username %>
</p>

<% if can? :edit, @article %>
  <%= link_to 'Edytuj', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Cofnij', root_path %>
